* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 800px;
  background-color: #e1ff8f;
  background-image: url(images/Group\ 1597880565.svg), url(images/Star\ 3.svg),
    url(images/Star\ 2.svg), url(images/Star\ 5.svg), url(images/Star\ 4.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 72%, 35px, 57px, 37px, 83px;
  background-position: 860px -400px, 160px 70px, 63px 95px, 950px 540px,
    1015px 570px;
}

.info__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 196px;
  padding-bottom: 24px;
  width: 768px;
}

.info__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 48px;
}

.info__btn {
  width: 247px;
  height: 66px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141%;
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
  color: #ffffff;
  background-color: #202027;
  cursor: pointer;
  transition: all 0.4s;
}

.info__btn:hover {
  background-color: #ffffff;
  color: #202027;
}

.content {
  background-color: #202027;
  height: 1470px;
  background-image: url(images/Star\ 6.svg), url(images/Star\ 7.svg),
    url(images/Star\ 8.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 1000px 110px, 30px 670px, 45px 720px;
}

.content__about {
  padding-top: 94px;
}

.content__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  padding-bottom: 24px;
}

.content__text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 72px;
}

.item {
  width: 1201px;
  height: 1056px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.item__block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item__card {
  display: inline-block;
  text-decoration: none;
  width: 378px;
  background-color: #ffffff;
  border-radius: 30px;
  position: relative;
  transition: all 0.4s;
}

.item__card:hover {
  transform: scale(1.07);
}

.card-mini {
  height: 473px;
}

.card-middle {
  height: 512px;
}

.card-big {
  height: 551px;
}

.item__img {
  border-radius: 30px;
}

.item__info {
  position: absolute;
  bottom: 40px;
  left: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item__text {
  width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background-color: rgb(247, 247, 247);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  color: #000;
  padding: 8px 16px 10px 16px;
}

.item__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #000;
}
